<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{title}} history</title>
</head>
<body>

    <table>
        <tbody>

            {% for history in histories %}
            <tr>

                <td> {{history.date}} </td>
                <td> {{history.content}} </td>
                <td> <a href='/{{title}}'>view</a> | <a href='/_edit/{{title}}'>edit</a> </td>

            </tr>

            {% endfor %}
        </tbody>
    </table>

</body>
</html>