<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
<a href="/blog" class="main-title">
    CS 253 Blog
</a>

<div class="login-area">

    <a class="login-link" href="/blog/login">login</a>
    |
    <a class="login-link" href="/blog/signup">signup</a>

</div>

<div id="content">

    <div class="post">
        <div class="post-heading">
            <div class="post-title">
                {{ post.subject }}
            </div>
            <div class="post-date">
                {{ post.date }}
            </div>
        </div>

        <div class="post-content">
            {{ post.content }}
        </div>
    </div>

</div>
</body>

</html>